<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

</body>
</html>{% extends "base.html" %}

{% block content %}

<div class="container" align="center">
  <h1>We are Team#3, and we have something!</h1>
  <p class="lead">Click on the buttons below to see the examples.</p>
</div>

<div class="row"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-default" href="{% url 'reverse' %}" role="button">String reversing</a>
        </div>
        <div class="col">
            <a class="btn btn-default" href="{% url 'solve_eq' %}" role="button">Quadratic equation solving</a>
        </div>
        <div class="col">
            <a class="btn btn-default" href="{% url 'plot' %}" role="button">Function plotting</a>
        </div>
    </div>
</div>
<!-- /.container -->

{% endblock %}
